<div class="container-fluid">
    <div class="card main-card">
        <div class="card-title">
            <a href="">Go Back </a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col offset-sm-1">
                    <h1 style="margin-left:5%;">User Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col offset-sm-1">
                    <img src="../../assets/Images/userIcon.png" height="350">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h4>Name: </h4>
                        </div>
                        <div class="col">
                            <h4>sasas</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Email:</h4>
                        </div>
                        <div class="col">
                            <h4>sasas.sasasa@dssdlkfj.com</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mx-auto text-center" style="padding-top: 5%;">
                            <button class="btn btn-primary" style="width:80%;">Edit Profile</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mx-auto text-center" style="padding-top: 5%;">
                            <button class="btn btn-primary" style="width:80%;">Manage Addresses</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mx-auto text-center" style="padding-top: 5%;">
                            <button class="btn btn-primary" style="width:80%;">Manage Payment Options</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>